apiVersion: v1
kind: Service
metadata:
  name: healthcare-service
  namespace: healthcare
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app: healthcare-app
