apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-script
  namespace: healthcare
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS patients (
        id BIGINT AUTO_INCREMENT PRIMARY KEY,
        patient_id VARCHAR(20) UNIQUE NOT NULL,
        name VARCHAR(100) NOT NULL,
        age INT,
        gender VARCHAR(10),
        blood_group VARCHAR(5),
        phone VARCHAR(15),
        email VARCHAR(100),
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
    
    CREATE TABLE IF NOT EXISTS doctors (
        id BIGINT AUTO_INCREMENT PRIMARY KEY,
        doctor_id VARCHAR(20) UNIQUE NOT NULL,
        name VARCHAR(100) NOT NULL,
        specialization VARCHAR(50),
        phone VARCHAR(15),
        email VARCHAR(100),
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
    
    INSERT INTO patients (patient_id, name, age, gender, blood_group, phone, email) 
    VALUES ('P001', 'John Doe', 35, 'Male', 'O+', '9876543210', 'john@email.com');
    
    INSERT INTO doctors (doctor_id, name, specialization, phone, email) 
    VALUES ('D001', 'Dr. Sarah', 'Cardiologist', '9876543220', 'sarah@hospital.com');
